GATSBY_OQTIMA_API_URL=http://localhost:3000/
GATSBY_PUBLIC_IP_API_URL=https://api.ipify.org?format=json
GATSBY_FSA_ENTITY_DOMAIN=http://www.hostname.com
GATSBY_CYSEC_ENTITY_DOMAIN=http://www.hostname.eu
