GATSBY_OQTIMA_API_URL=http://localhost:3000/
GATSBY_PUBLIC_IP_API_URL=https://api.ipify.org?format=json
GATSBY_FSA_ENTITY_DOMAIN=http://www.hostname.com
GATSBY_CYSEC_ENTITY_DOMAIN=http://www.hostname.eu
YOUTUBE_API_KEY=AIzaSyDzxRDZ0dk7lDXjXxvkF-HyuYYjmPICJH0
YOUTUBE_PLAYLIST_API_URL=https://www.googleapis.com/youtube/v3/playlistItems
YOUTUBE_PLAYLIST_ITEMS_API_URL=https://youtube.googleapis.com/youtube/v3/playlists