@import '../../assets/styles/vars.scss';
@import '../../assets/styles/mixins.scss';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: stretch;
  box-shadow: 0px 6px 8px #00000029;

  &__logo {
    height: 33px;
    width: auto;
  }

  &__left {
    padding: 0 73px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 60px;
    background-color: map-get($colors, 'white');

    @media (max-width: $lg) {
      padding: 0 30px;
      gap: 40px;
    }
  }

  &__right {
    padding: 23px 73px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: map-get($colors, 'red');

    &::before {
      content: '';
      height: 100%;
      position: absolute;
      left: -40px;
      border-top: $header-height solid transparent;
      border-right: 40px solid map-get($colors, 'red');
    }

    @media (max-width: $lg) {
      padding: 0 30px;
    }

    &_btn {
      @include button-header;

      &._lng {
        margin-right: 50px;
      }

      &._white {
        margin-left: 10px;
        background-color: map-get($colors, 'white');
        color: map-get($colors, 'red');
      }

      &._upcs {
        text-transform: uppercase;
      }
    }
  }

  &__navigation {
    display: flex;
    align-self: stretch;
    list-style: none;

    &_title {
      position: relative;
      padding: 0 34px;
      display: flex;
      align-items: center;
      color: map-get($colors, 'black');

      &::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: map-get($colors, 'red');
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-in;
      }

      &:hover {
        cursor: pointer;

        & > .header__navigation_dropdown {
          visibility: visible;
          opacity: 1;
        }

        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &_dropdown {
      position: fixed;
      top: $header-height;
      left: 0;
      width: 100%;
      padding: 75px;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-auto-columns: 300px;
      grid-auto-flow: column;
      justify-content: center;
      background-color: map-get($colors, 'white');
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      list-style: none;

      &:hover {
        cursor: default;
      }

      @media (max-width: $lg) {
        grid-auto-columns: 250px;
      }
    }

    &_subtitle {
      padding: 10px;

      &-icon {
        width: 26px;
        height: auto;
        flex-shrink: 0;
      }

      &-link {
        display: flex;
        align-items: flex-start;
        text-decoration: none;
      }

      &-content {
        margin-left: 10px;
      }

      &-title {
        color: #1a1a1a;
        font: normal normal 900 16px/20px $font;
      }

      &-description {
        margin: 6px 0 0;
        color: #1a1a1a;
        font: normal normal 300 14px/18px $font;
      }
    }
  }
}