@import "../../assets/styles/vars";
@import "../../assets/styles/mixins";
@import "../../assets/styles/dropdown";

.trading-ticker-wrapper {
  scroll-snap-align: start;
  margin: 11px 0 0;
}

.trading-sections-wrapper {
  margin: 0 14px;
}

.trading-sections {
  display: flex;
  padding: 15px 15px 13px;
  justify-content: space-around;
  box-shadow: 0 5px 10px #0000001A;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid map-get($colors, 'red');
}

.trading-section-title {
  display: inline-block;
  cursor: pointer;
  padding: 4px 28px;
  border-radius: 16px;
  transition: 0.2s;
  font-size: 18px;
  font-family: $font;
  line-height: 22px;
  letter-spacing: 0;
  color: map-get($colors, 'black');

  &__active {
    background: map-get($colors, 'red');
    box-shadow: 0 3px 24px #00000029;
    color: map-get($colors, 'white');
  }
}

.trading-symbols-wrapper {
  overflow: hidden;
}

.trading-symbols {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 0 6px 14px;
  overflow-x: scroll;
  margin-right: 14px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.trading-symbol {
  position: relative;
  padding: 15px 20px 8px;
  border-radius: 5px;
  box-shadow: 0 5px 10px #0000001A;
  flex-basis: 138px;
  flex-shrink: 0;
  margin-right: 10px;

  &__title {
    position: relative;
    margin-bottom: 2px;
    font-family: $font;
    font-size: 16px;
    line-height: 20px;
    font-weight: map-get($font-weight, 'black');
    color: map-get($colors, 'red');

    &-content {
      display: inline-block;
      position: relative;

      &:after {
        position: absolute;
        top: 50%;
        right: -36px;
        display: block;
        width: 28px;
        height: 2px;
        content: ' ';
        background: map-get($colors, 'red');
        transform: translateY(-50%);
      }
    }
  }

  &__data {
    display: flex;
    flex-wrap: wrap;
  }

  &__option {
    font-family: $font-secondary;

    flex-basis: 50%;
    margin-top: 7px;

    &:last-child {
      margin-right: 0;
    }

    .trading-symbol__option-value {
      padding-left: 5px;
      font-weight: map-get($font-weight, 'bold');
    }
  }

  &__option-title,
  &__option-value {
    color: map-get($colors, 'black');
  }

  &__option-title {
    font-size: 11px;
    line-height: 13px;
  }

  &__option-value {
    font-size: 10px;
    line-height: 12px;
  }

  &__option-value {
    margin-top: 4px;
    font-weight: map-get($font-weight, 'bold');
    transition: 0.1s;

    &--up {
      color: #00FF66;
    }
    &--down {
      color: #ff0000;
    }
  }

  &__actions {
    margin: 15px -14px 0;
    text-align: center;
    border-top: 1px solid map-get($colors, 'red');
  }

  &__sell,
  &__buy {
    font-family: $font-secondary;
    font-weight: map-get($font-weight, 'black');
    font-size: 11px;
    line-height: 13px;
    padding: 12px 10px;
    border: 0;
    background: 0;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__buy {
    color: #ff0000;
  }

  &__sell {
    color: #00FF66;
  }
}

@include tablet {
  .trading-ticker-wrapper {
    margin: 11px 0 0;
  }

  .trading-sections {
    flex-wrap: nowrap;
    padding: 7px 31px;
    overflow-x: scroll;
    justify-content: flex-start;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .trading-section-title {
    padding: 4px 30px 7px;
    flex-shrink: 0;
  }

  .trading-symbols {
    .trading-symbol:first-child {
      border-radius: 0 0 0 10px;
    }
    .trading-symbol:last-child {
      border-radius: 0 0 10px 0;
    }
  }

  .trading-symbol {
    padding: 12px 21px 20px;
    flex-basis: 378px;
    border-radius: 0;
    margin-right: 0;

    &__data {
      flex-wrap: nowrap;
      align-items: flex-start;
    }

    &__option {
      flex-basis: auto;
      margin-top: 0;
      margin-right: 24px;
    }

    &__title {
      font-size: 21px;
      line-height: 26px;
      font-weight: map-get($font-weight, 'black');
    }

    &__option-value {
      margin-top: 0;
    }

    &__option-title,
    &__option-value {
      font-size: 13px;
      line-height: 16px;
    }

    &__actions {
      position: absolute;
      right: 21px;
      top: 12px;
      margin-left: 0;
      margin-right: 0;

      border-left: 1px solid map-get($colors, 'red');
      border-top: 0;
      margin-top: 0;
    }

    &__sell,
    &__buy {
      display: block;
      padding: 8px 10px 10px;
      font-size: 13px;
      line-height: 16px;
    }

    &__buy {
      border-bottom: 1px solid map-get($colors, 'red');
    }
  }
}

@include desktop-lg {
  .trading-sections {
    justify-content: flex-start;
  }
}

@include desktop-xl {
  .trading-sections {
    padding: 14px;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
  }
}