@import "vars";
@import "mixins";

.button-link {
  @include button-supress;
  text-decoration: none;
  color: map-get($colors, "red");
  background: map-get($colors, "white");
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: map-get($font-weight, "black");
  font-size: 12px;
  border-radius: $border-radius-default;
  line-height: 31px;
  width: 190px;

  @include tablet {
    font-size: 14px;
    line-height: 38px;
    width: 234px;
  }

  @include desktop-lg {
    line-height: 38px;
    width: 234px;
  }

  @include desktop-xl {
    line-height: 62px;
    width: 380px;
    font-size: 24px;
  }

  &--header {
    width: initial;
    height: 34px;
    display: flex;
    align-items: center;
    border-radius: $border-radius-header;
    color: map-get($colors, "white");
    font: normal normal map-get($font-weight, "bold") 14px/18px $font;
    text-transform: none;
    white-space: nowrap;

    @include desktop-xl {
      height: 40px;
      font: normal normal map-get($font-weight, "bold") 16px/20px $font;
    }
  }

  &--ghost {
    border: 2px solid map-get($colors, "white");
    background: transparent;
  }

  &--blank {
    width: fit-content;
    border: none;
    text-transform: none;
    font: normal normal bold 16px/20px $font;
  }

  &--disabled {
    pointer-events: none;
  }
}
