@import "vars";
@import "mixins";

.button-link {
  @include button-supress;
  text-decoration: none;
  color: map-get($colors, "red");
  background: map-get($colors, "white");
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: map-get($font-weight, "black");
  font-size: 12px;
  border-radius: $border-radius-default;
  line-height: 31px;
  width: 190px;

  @include tablet {
    font-size: 14px;
    line-height: 38px;
    width: 234px;
  }

  @include desktop-lg {
    line-height: 38px;
    width: 234px;
  }

  @include desktop-xl {
    line-height: 62px;
    width: 380px;
    font-size: 24px;
  }
}
