@import "vars";
@import "mixins";

.career-page-promotion {
  background: url("../../assets/images/bg/legal/banner-sm.svg") no-repeat center;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 48px;

  @include tablet {
    padding-top: 42px;
    padding-bottom: 45px;
    background: url("../../assets/images/bg/legal/banner-md.svg") no-repeat
      center;
    background-size: cover;
  }

  @include desktop-lg {
    padding-top: 20px;
    padding-bottom: 44px;
    background: url("../../assets/images/bg/legal/banner-lg.svg") no-repeat
      center;
    background-size: cover;
  }

  @include desktop-xl {
    background: url("../../assets/images/bg/career/bg-xl.svg") no-repeat right;
    background-size: cover;
    padding: 55px 143px 118px 170px;
  }

  &__logo {
    width: 310px;
    height: 67px;

    path {
      fill: map-get($colors, "white");
    }
  }

  .top-market-promotion__text {
    @include desktop-xl {
      font-size: 96px;
      line-height: 120px;
    }
  }

  .top-market-promotion__btn-wrapper {
    margin-top: 30px;

    @include desktop-xl {
      margin-top: 130px;
    }
  }
}

.career-pros {
  scroll-snap-align: start;
  position: relative;
  background-size: cover;
  background: url("../../assets/images/bg/performance/performance-sm.svg")
    no-repeat bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 140px;
  @include content-alignment(0);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../assets/images/about-pages/career-line-xl.svg")
      no-repeat;
    width: 391px;
    height: 369px;
  }

  @include tablet {
    padding-top: 87px;
    padding-bottom: 130px;
    background-size: cover;
    background: url("../../assets/images/bg/performance/performance-md.svg")
      no-repeat bottom;
  }

  @include desktop-lg {
    padding-top: 70px;
    padding-bottom: 180px;
    background-size: cover;
    background: url("../../assets/images/bg/performance/performance-lg.svg")
      no-repeat bottom;
  }

  @include desktop-xl {
    padding-top: 52px;
    padding-bottom: 85px;
    background-size: cover;
    background: url("../../assets/images/bg/performance/performance-xl.svg")
      no-repeat bottom;
  }

  &__title-wrapper {
    text-align: center;
  }

  &__title {
    font-weight: map-get($font-weight, "black");
    font-size: 52px;
    line-height: 65px;
    margin: 0 0 10px;
  }

  &__subtitle {
    font-weight: map-get($font-weight, "light");
    font-size: 38px;
    line-height: 48px;
    margin: 0 0 88px;
  }

  &__advantages {
    display: grid;
    grid-auto-flow: row dense;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.pros-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;

  @include desktop-xl {
    width: 314px;
  }

  &__title {
    font-weight: map-get($font-weight, "black");
    font-size: 19px;
    line-height: 23px;
    margin: 0 0 20px;
  }

  &__subtitle {
    font-weight: map-get($font-weight, "light");
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 30px;
  }

  &__icon {
    margin: 0 0 20px;
  }
}

.career-benefits {
  scroll-snap-align: start;
  position: relative;
  background: url("../../assets/images/bg/career/benefits-bg-xl.svg") no-repeat
    center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 140px;
  @include content-alignment(0);

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../../assets/images/about-pages/career-line-bottom-xl.svg")
    no-repeat;
    width: 391px;
    height: 369px;
  }

  @include tablet {
    padding-top: 87px;
    padding-bottom: 130px;
    background: url("../../assets/images/bg/career/benefits-bg-xl.svg")
      no-repeat center;
    background-size: cover;
  }

  @include desktop-lg {
    padding-top: 70px;
    padding-bottom: 180px;
    background: url("../../assets/images/bg/career/benefits-bg-xl.svg")
      no-repeat center;
    background-size: cover;
  }

  @include desktop-xl {
    padding-top: 53px;
    padding-bottom: 83px;
    background: url("../../assets/images/bg/career/benefits-bg-xl.svg")
      no-repeat center;
    background-size: cover;
  }

  &__title-wrapper {
    text-align: center;
  }

  &__title {
    font-weight: map-get($font-weight, "black");
    font-size: 48px;
    line-height: 60px;
    margin: 0 0 42px;
  }

  &__subtitle {
    font-weight: map-get($font-weight, "black");
    font-size: 38px;
    line-height: 48px;
    margin: 0 0 92px;
  }

  &__advantages {
    display: grid;
    grid-auto-flow: row dense;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px 80px;
  }
}

.benefit-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;


  &__title {
    font-weight: map-get($font-weight, "black");
    color: map-get($colors, "red");
    font-size: 19px;
    line-height: 23px;
    margin: 0 0 20px;
  }

  &__text {
    font-weight: map-get($font-weight, "light");
    color: map-get($colors, "white");
    font-size: 18px;
    line-height: 22px;
  }

  &__icon {
    margin: 0 0 20px;
  }
}