@import "vars";

.dropdown-item {
  &--grow {
    height: 100%;
  }

  &__link {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
  }

  &__icon {
    width: 34px;
    height: auto;
    margin-right: 10px;
    flex-shrink: 0;
  }

  &__title {
    color: map-get($colors, "black-secondary");
    font: normal normal 900 14px/18px $font;
    transition: color 0.2s;

    @include desktop-xl {
      font: normal normal 900 16px/20px $font;
    }

    &:hover {
      color: map-get($colors, "red");
    }
  }

  &__description {
    margin: 6px 0 0;
    color: map-get($colors, "black-secondary");
    font: normal normal 300 12px/15px $font;

    @include desktop-xl {
      font: normal normal 300 14px/18px $font;
    }
  }

  &__subtitles {
    margin-top: 10px;
    margin-left: 47px;
  }
}
