@import "vars";
@import "mixins";

.faq {
  scroll-snap-align: start;
  padding-top: 82px;
  padding-bottom: 76px;
  @include content-alignment(0);

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__delimiter {
    height: 3px;
    width: 160px;
    background: map-get($colors, "red");
  }

  &__title {
    margin: 57px 0 50px;
    font-size: 24px;
    line-height: 30px;
    color: map-get($colors, "black-secondary");
    font-weight: map-get($font-weight, "black");

    @include tablet {
      margin: 50px 0 40px;
      font-size: 36px;
      line-height: 45px;
    }

    @include desktop-lg {
      margin: 33px 0 47px;
      font-size: 40px;
      line-height: 50px;
    }

    @include desktop-xl {
      margin: 33px 0 70px;
      font-size: 42px;
      line-height: 53px;
    }
  }

  &__accordion {
    .accordion__title {
      text-align: left;
      font-weight: map-get($font-weight, "black");
      color: map-get($colors, "black-secondary");
      font-size: 17px;
      line-height: 21px;

      @include tablet {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
}