@import "vars";
@import "mixins";

.corner-panel {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 26px;
  padding-left: 26px;

  @include desktop-lg {
    padding-top: 17px;
    padding-right: 68px;
    padding-left: 68px;
  }

  &__link {
    text-align: center;
    font-weight: map-get($font-weight, "regular");
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.28px;
    color: map-get($colors, "white");
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__separator {
    text-align: center;
    font-weight: map-get($font-weight, "regular");
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.28px;
    color: map-get($colors, "white");
    padding: 0px 8px;
  }
}

.header {
  &-wrapper {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
  }

  &__main-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    justify-content: space-between;

    @include desktop-lg {
      justify-content: space-around;
    }
  }

  &--small {
    background: map-get($colors, "white") 0% 0% no-repeat padding-box;
    height: $header-height-small;
    transition: all 0.4s ease-in-out;
    transform: translateY(-40px);
    box-shadow: 0 6px 8px #00000029;

    // @include desktop-xl {
    //   height: 140px;
    // }
  }

  &--big {
    background: transparent linear-gradient(180deg, #ff4400 0%, #ff440000 100%)
      0% 0% no-repeat padding-box;
    height: $header-height;
    transition: all 0.4s ease-in-out;
    box-shadow: unset;
  }

  width: 100%;

  background: map-get($colors, "white") 0% 0% no-repeat padding-box;
  height: $header-height-small-mobile;
  box-shadow: 0 6px 8px #00000029;

  &__logo {
    height: 33px;
    width: auto;
  }

  &__center {
    display: flex;
    align-items: center;
  }

  &__left {
    padding-top: 15px;
    padding-left: 26px;
    display: flex;
    align-items: center;

    @include desktop-lg {
      padding-top: unset;
      padding-left: unset;
    }

    @include desktop-xl {
    }
  }

  &__right {
    width: 70px;
    position: relative;
    display: flex;
    align-items: center;

    @include desktop-lg {
      width: initial;
    }

    // @include desktop-xl {

    //   &::before {
    //     border-top: $header-height solid transparent;
    //   }
    // }
  }

  &__signin {
    margin-left: 26px;
    padding: 0 33px;

    &--red {
      color: map-get($colors, "red");

      &:hover,
      &:active,
      &:focus {
        border: 2px solid map-get($colors, "red");
      }
    }

    @include desktop-xl {
      margin-left: 50px;
      padding: 0 38px;
    }
  }

  &__start {
    margin-left: 10px;
    padding: 0 16px;
    background-color: map-get($colors, "white");
    color: map-get($colors, "red");
    text-transform: uppercase;
    border: 2px solid map-get($colors, "white");

    &--red {
      border: 2px solid map-get($colors, "red");
    }

    @include desktop-xl {
      padding: 0 36px;
    }

    &:hover,
    &:active,
    &:focus {
      background: map-get($colors, "red");
      color: map-get($colors, "white");
    }
  }

  &__navigation {
    display: none;

    @include desktop-lg {
      display: flex;
      align-self: stretch;
    }
  }

  &__controls {
    display: none;

    @include desktop-lg {
      display: flex;
    }
  }

  &__search {
    display: none;
    position: absolute;
    top: 70%;
    right: 54px;
    transition: all 0.4s ease-in-out;

    &--small {
      top: calc(100% + 30px);
    }

    @include desktop-lg {
      display: block;
    }

    @include desktop-xl {
      right: 73px;
    }
  }
}
