@import "vars";
@import "mixins";

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: stretch;
  box-shadow: 0px 6px 8px #00000029;

  &--small {
    height: $header-height-small;

    & .header__right::before {
      border-top: $header-height-small solid transparent;
    }
  }

  &__logo {
    height: 33px;
    width: auto;
  }

  &__left {
    padding-left: 30px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 24px;
    background-color: map-get($colors, 'white');

    @include desktop-xl {
      padding-left: 73px;
      gap: 30px;
    }
  }

  &__right {
    width: 70px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: map-get($colors, 'red');

    &::before {
      content: '';
      height: 100%;
      position: absolute;
      left: -25px;
      border-top: $header-height solid transparent;
      border-right: 25px solid map-get($colors, 'red');
    }

    @include desktop-lg {
      padding: 0 34px;
      width: initial;
    }

    @include desktop-xl {
      padding: 0 73px;
    }
  }

  &__signin {
    margin-left: 26px;
    padding: 0 33px;

    @include desktop-xl {
      margin-left: 50px;
      padding: 0 38px;
    }
  }

  &__start {
    margin-left: 10px;
    padding: 0 16px;
    background-color: map-get($colors, 'white');
    color: map-get($colors, 'red');
    text-transform: uppercase;

    @include desktop-xl {
      padding: 0 36px;
    }
  }

  &__navigation {
    display: flex;
    align-self: stretch;
  }
}
