@import "vars";
@import "mixins";
@import "typography";


@import "button-link";
@import "main-promotion";
@import "promotion";
@import "trading-tools";
@import "performance";
@import "header";
@import "navbar-item";
@import "dropdown-item";
@import "lang-select";
@import "burger-menu";
@import "accordeon";
@import "search-bar";
@import "popup";
@import "lang-options";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font;

  &.overflow-hidden {
    overflow: hidden;
  }
}

.highlighted {
  &-in-red {
    color: map-get($colors, "red");
  }

  &-in-black {
    color: map-get($colors, "black");
  }

  &-in-white {
    color: map-get($colors, "white");
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  margin-top: $header-height-small;

  @include desktop-xl {
    margin-top: $header-height;
  }
}

a {
  text-decoration: none;
}

.hidden-on-mobile {
  @include mobile {
    display: none;
  }
}
