@import "mixins";

.lang-select {
  @include button-header;
  position: relative;
  text-transform: uppercase;

  &:hover {
    & > .lang-select__dropdown {
      display: block;
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
