@import "vars";

.lang-options {
  padding: 42px 20px 28px 30px;
  background-color: map-get($colors, "white");

  @include tablet {
    padding: 56px 20px 38px 74px;
  }

  &__title {
    margin: 0 0 18px;
    color: map-get($colors, "black-secondary");
    font: normal normal 900 24px/30px $font;
    text-align: center;

    @include tablet {
      font: normal normal 900 34px/42px $font;
    }
  }

  &__list {
    column-count: 2;

    @include tablet {
      column-count: 3;
    }
  }

  &__item {
    padding: 2px 0;

    &--selected {
      & > .lang-options__select {
        background-color: map-get($colors, "red");
      }
    }
  }

  &__select {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 7px 9px;
    background: transparent;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 9px;
    outline: none;

    &:hover {
      border-color: map-get($colors, "red");
    }
  }

  &__flag {
    box-shadow: 0 0 2px 1px #0000001A;
  }

  &__name {
    margin-left: 10px;
    color: map-get($colors, "black-secondary");
    font: normal normal 900 12px/15px $font;
    text-align: left;

    @include tablet {
      font: normal normal 900 16px/20px $font;
    }
  }
}