@import "vars";

.market-item-advantages {
  background: map-get($colors, "white") 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #0000001a;
  border-radius: 10px;
  width: 100%;
  height: fit-content;
  font: normal normal map-get($font-weight, "black") 14px/35px $font;
  color: map-get($colors, "red");
  padding: 20px;

  @include tablet {
    font: normal normal map-get($font-weight, "black") 24px/35px $font;
    padding: 35px 43px 17px 43px;
  }

  @include desktop-lg {
    font: normal normal map-get($font-weight, "black") 24px/35px $font;
    padding: 35px 19px 22px 43px;
    width: 460px;
  }

  @include desktop-xl {
    width: 620px;
  }

  &__item {
    display: flex;
    align-items: center;

    @include tablet {
      padding-bottom: 18px;
    }

    @include desktop-lg {
      padding-bottom: 13px;
    }
  }

  &__text {
    padding-left: 10px;

    @include tablet {
      padding-left: 20px;
    }
  }
}
