@import "vars";

.navbar-item {
  position: relative;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 2px;
  color: map-get($colors, 'black');

  @include desktop-xl {
    padding: 0 34px;
  }

  &::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: map-get($colors, 'red');
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  &:hover {
    cursor: pointer;

    & > .navbar-item__icon {
      transform: scale(1, -1);
    }

    & > .navbar-item__dropdown {
      visibility: visible;
      opacity: 1;
    }

    &::after {
      visibility: visible;
      opacity: 1;
    }
  }

  &__icon {
    transition: transform 0.3s;
  }

  &__dropdown {
    position: fixed;
    top: $header-height-small;
    left: 0;
    width: 100%;
    padding: 75px;
    display: grid;
    column-gap: 80px;
    row-gap: 30px;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: start;
    background-color: map-get($colors, 'white');
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      cursor: default;
    }

    @include desktop-xl {
      top: $header-height;
      padding-left: 450px;
      grid-auto-columns: 300px;
    }

    &--nested {
      height: 670px;
      padding-bottom: 60px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      column-gap: 20px;

      & > .dropdown-item {
        width: 33.33%;
        max-width: 330px;

        @include desktop-xl {
          width: 18%;
        }
      }

      @include desktop-xl {
        height: 400px;
        top: $header-height;
        grid-auto-columns: 300px;
      }
    }
  }

  &__title {
    font: normal normal bold 16px/20px $font;
  }
}
