@import "vars";

.partners-start-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 298px;

  &__text {
    padding-top: 20px;
    text-align: center;
  }
}
