@import "vars";
@import "mixins";

@mixin custom-breakpoint-1200 {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin custom-breakpoint-1600 {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

.header--rtl {
  .header__left {
    padding-right: 73px;
    padding-left: unset;
  }

  .header__right {
    &:after {
      border-left: 25px solid map-get($colors, "red");
      border-top: $header-height-small solid transparent;
      content: "";
      height: 100%;
      right: -25px;
      position: absolute;

      @include desktop-xl {
        border-top: $header-height solid transparent;
      }
    }
  }

  .header__signin {
    margin-right: 26px;
    margin-left: unset;
    padding: 0 33px;

    @include desktop-xl {
      margin-right: 50px;
      margin-left: unset;
      padding: 0 38px;
    }
  }

  .header__start {
    margin-right: 10px;
    margin-left: unset;
    // TODO check this padding after translations will be added
    padding: 0 50px;
  }

  .header__search {
    right: unset;
    left: 54px;
  }

  .search-bar {
    flex-direction: row;
  }

  .lang-select {
    flex-direction: row-reverse;
  }

  .navbar-item__dropdown {
    align-content: flex-end;
    justify-content: flex-end;
  }

  .navbar-item__title {
    order: 2;
  }

  .dropdown-item__subtitles {
    margin-left: unset;
    margin-right: 47px;
  }

  .dropdown-item__icon {
    margin-right: unset;
    margin-left: 10px;
  }
}

.popup {
  direction: ltr;
}

.main-promotion--rtl {

  @include desktop-lg {
    flex-direction: row-reverse;
  }

  .main-promotion__wrapper {
    @include desktop-xl {
      justify-content: flex-start;
    }
  }

  .main-promotion__photo {
    @include desktop-lg {
      right: 295px;
    }

    @include custom-breakpoint-1200 {
      right: 30%;
    }

    @include custom-breakpoint-1600 {
      right: 35%;
    }

    @include desktop-xl {
      right: 185px;
      left: unset;
    }
  }

  .main-promotion__person {
    text-align: right;
  }

  .main-promotion__title {
    max-width: 100%;
    text-align: right;
  }

  .main-promotion__block {
    @include tablet {
      width: 35%;
    }
  }

  .button-link {
    float: right;
  }
}

.search-page__form--rtl {
  .search-page__form-input {
    padding: 0 15px;
  }
}

.trading-symbol--rtl {

  .trading-symbol__title-wrapper {
    direction: rtl;
  }

  .trading-symbol__title {
    margin: 0 0 0 10px;
  }
}

.trade-with-promotion--rtl {
  .trade-with-promotion__block {
    &:last-child {

      @include desktop-lg {
        padding: 20px 60px 10px 0;
        border-left: unset;
        border-right: 3px solid map-get($colors, "red");
      }
    }
  }
}

.promotion--rtl {
  .promotion__text {
    text-align: right;
  }
}

.promotion4.promotion--rtl {
  background: url("../../assets/images/promotions/promo4-rtl.svg") no-repeat left;
  background-size: cover;
}

.trading-tools--rtl {
  .trading-tools__icon-wrapper {
    direction: ltr;
  }
}
