@import "mixins";
@import "vars";

.search-page {
  padding: 40px 0;

  @include tablet {
    padding: 48px 0;
  }

  @include desktop-xl {
    padding: 59px 0;
  }

  &__container {
    min-height: 400px;
    @include content-alignment;
  }

  &__form {
    width: 100%;
    margin: 0 auto 50px;
    padding: 5px 8px 5px 20px;
    display: flex;
    align-items: center;
    background-color: map-get($colors, 'white');
    color: map-get($colors, 'black');
    border: 2px solid map-get($colors, 'red');
    border-radius: 31px;

    @include tablet {
      margin-bottom: 60px;
    }

    @include desktop-lg {
      width: 425px;
      margin-bottom: 80px;
    }

    @include desktop-xl {
      width: 720px;
      margin-bottom: 80px;
    }

    &-icon {
      flex-shrink: 0;
      margin-right: 10px;

      @include tablet {
        width: 28px;
        height: 28px;
      }

      & > g > * {
        stroke: map-get($colors, 'red');
      }
    }

    &-input {
      height: 36px;
      flex-grow: 1;
      background: transparent;
      border: none;
      outline: none;
      color: map-get($colors, 'black-secondaty');
      font: normal normal map-get($font-weight, "bold") 16px/20px $font;
    }
  }

  &__results {
    @include desktop-lg {
      max-width: 716px;
      margin: 0 auto;
    }

    @include desktop-xl {
      max-width: 998px;
    }
  }

  &__item {
    & + & {
      margin-top: 20px;

      @include tablet {
        margin-top: 40px;
      }

      @include desktop-lg {
        margin-top: 25px;
      }

      @include desktop-xl {
        margin-top: 30px;
      }
    }
  }

  &__link {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    
    @include desktop-lg {
      margin-bottom: 5px;
    }

    @include desktop-xl {
      margin-bottom: 10px;
    }
  }

  &__icon {
    width: 100%;
    height: auto;

    &-wrapper {
      width: 63px;
      height: 46px;
      margin-right: 12px;
      padding: 15px;
      flex-shrink: 0;
      border: 1px solid map-get($colors, 'red');

      @include tablet {
        width: 83px;
        height: 65px;
        padding: 20px;
      }

      @include desktop-lg {
        width: 72px;
        height: 52px;
        padding: 18px;
      }

      @include desktop-xl {
        width: 87px;
        height: 63px;
        padding: 20px;
      }
    }
  }

  &__caption {
    overflow: hidden;
  }

  &__title {
    margin: 0 0 4px;
    color: map-get($colors, 'red');
    font: normal normal map-get($font-weight, "black") 22px/27px $font;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include tablet {
      font: normal normal map-get($font-weight, "black") 32px/40px $font;
    }

    @include desktop-lg {
      font: normal normal map-get($font-weight, "black") 25px/31px $font;
    }

    @include desktop-xl {
      font: normal normal map-get($font-weight, "black") 35px/44px $font;
    }
  }

  &__ref {
    margin: 0;
    color: map-get($colors, 'red');
    font: normal normal map-get($font-weight, "normal") 17px/21px $font;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include tablet {
      font: normal normal map-get($font-weight, "normal") 24px/30px $font;
    }

    @include desktop-lg {
      font: normal normal map-get($font-weight, "normal") 20px/25px $font;
    }

    @include desktop-xl {
      font: normal normal map-get($font-weight, "normal") 24px/30px $font;
    }
  }

  &__text {
    margin: 0 0 20px;
    color: map-get($colors, 'black-secondary');
    font: normal normal map-get($font-weight, "light") 20px/25px $font;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    @include tablet {
      margin-bottom: 16px;
      font: normal normal map-get($font-weight, "light") 30px/37px $font;
    }

    @include desktop-lg {
      margin-bottom: 10px;
      font: normal normal map-get($font-weight, "light") 20px/25px $font;
    }

    @include desktop-xl {
      font: normal normal map-get($font-weight, "light") 24px/30px $font;
    }
  }

  &__btn {
    width: 100%;
    font: normal normal map-get($font-weight, "black") 13px/27px $font;

    @include tablet {
      font: normal normal map-get($font-weight, "black") 15px/34px $font;
    }

    @include desktop-lg {
      width: 162px;
      font: normal normal map-get($font-weight, "black") 15px/25px $font;
    }

    @include desktop-xl {
      font: normal normal map-get($font-weight, "black") 15px/36px $font;
    }
  }

  &__no-results {
    text-align: center;

    &-img {
      margin-bottom: 50px;

      @include tablet {
        margin-bottom: 45px;
      }

      @include desktop-lg {
        margin-bottom: 20px;
      }

      @include desktop-xl {
        margin-bottom: 30px;
      }
    }

    &-title {
      margin: 0 0 20px;
      color: map-get($colors, 'red');
      font: normal normal map-get($font-weight, "black") 34px/42px $font;

      @include tablet {
        margin-bottom: 30px;
        font: normal normal map-get($font-weight, "black") 60px/75px $font;
      }

      @include desktop-lg {
        font: normal normal map-get($font-weight, "black") 40px/50px $font;
      }

      @include desktop-xl {
        margin-bottom: 20px;
        font: normal normal map-get($font-weight, "black") 60px/75px $font;
      }
    }

    &-btn {
      margin: 0 auto;
    }
  }

  &__note{
    margin: 0 0 30px;
    color: map-get($colors, 'black-secondary');
    font: normal normal map-get($font-weight, "black") 24px/30px $font;
    text-align: center;

    @include tablet {
      font: normal normal map-get($font-weight, "black") 36px/45px $font;
    }

    @include desktop-lg {
      font: normal normal map-get($font-weight, "black") 30px/37px $font;
    }

    @include desktop-xl {
      font: normal normal map-get($font-weight, "black") 36px/45px $font;
    }
  }
}
