@import "mixins";
@import "vars";

.table-wrapper {

}

.table {
  box-shadow: 4px 3px 15px #00000029;
  background: map-get($colors, "white");
  border-radius: 15px;
  padding: 20px;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  &__head {
  }

  &__head-column {
    border-bottom: 1px solid map-get($colors, "black");
    padding: 10px;
    font-weight: map-get($font-weight, "bold");
    font-size: 13px;
    line-height: 17px;
    color: map-get($colors, "black");
    text-transform: capitalize;

    &:first-child {
      color: map-get($colors, "red");
      border-right: 1px solid map-get($colors, "black");
    }

    @include desktop-xl {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__head-icon {
  }

  &__body-column {
    text-align: center;
    font-weight: map-get($font-weight, "light");
    font-size: 16px;
    line-height: 20px;
    color: map-get($colors, "black");
    text-transform: capitalize;
    // TODO change border color after layout will be updated
    border-bottom: 1px solid #f2f2f2;
    padding: 15px 10px;

    &:first-child {
      border-right: 1px solid map-get($colors, "black");
    }
  }

  &__tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 30px;

    &--bottom {
      padding: 30px 0 0;
      justify-content: flex-end;
    }
  }

  &__searchbar {
    background-color: transparent;
    color: map-get($colors, "black");
    border-width: 1px;
    max-width: 330px;

    .search-bar__expand {
      svg {
        g,
        line {
          stroke: map-get($colors, "red");
        }
      }
    }

    .search-bar__submit {
      border: 1px solid map-get($colors, "red");
    }

    .search-bar__input {
      color: map-get($colors, "black");

      &::placeholder {
        color: map-get($colors, "black");
      }
    }
  }

  &____dropdown-wrapper {
    display: flex;
    align-items: center;
  }

  &__dropdown-title {
    font-weight: map-get($font-weight, "bold");
    font-size: 16px;
    line-height: 20px;
    color: map-get($colors, "black");
    text-transform: capitalize;
    padding-right: 10px;

    @include desktop-lg {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
