@import "vars";
@import "mixins";
@import "dropdown";

.trading-ticker-wrapper {
  scroll-snap-align: start;
  margin: 11px 0 0;
}

.trading-sections-wrapper {
  margin: 0 14px;
}

.trading-sections {
  display: flex;
  padding: 15px 15px 13px;
  justify-content: space-around;
  box-shadow: 0 5px 10px #0000001a;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid map-get($colors, "red");

  @include tablet {
    flex-wrap: nowrap;
    padding: 7px 31px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include desktop-xl {
    padding: 14px;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
  }

  &__header {
    color: map-get($colors, "black");
    margin: 0;
    text-align: center;
    font-weight: map-get($font-weight, "black");
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    @include tablet {
      font-size: 24px;
      line-height: 30px;
    }

    @include desktop-lg {
      font-size: 28px;
      line-height: 35px;
    }

    @include desktop-xl {
      font-size: 32px;
      line-height: 40px;
    }
  }
}

.trading-section-title {
  display: inline-block;
  cursor: pointer;
  padding: 4px 28px;
  border-radius: 16px;
  transition: 0.2s;
  font-size: 18px;
  font-family: $font;
  line-height: 22px;
  letter-spacing: 0;
  color: map-get($colors, "black");

  &__active {
    background: map-get($colors, "red");
    box-shadow: 0 3px 24px #00000029;
    color: map-get($colors, "white");
  }

  @include tablet {
    padding: 4px 30px 7px;
    flex-shrink: 0;
  }
}

.trading-symbols-wrapper {
  overflow: hidden;
}

.trading-symbols {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 0 6px 14px;
  overflow-x: scroll;
  margin-right: 14px;

  &::-webkit-scrollbar {
    display: none;
  }

  @include tablet {
    &:first-child {
      border-radius: 0 0 0 10px;
    }

    &:last-child {
      border-radius: 0 0 10px 0;
    }
  }
}

.trading-symbol {
  display: flex;
  padding: 15px 20px 8px;
  border-radius: 5px;
  box-shadow: 0 5px 10px #0000001a;
  margin-right: 10px;
  flex-direction: column;
  min-width: 138px;

  @include tablet {
    min-width: unset;
    padding: 12px 21px;
    border-radius: 0;
    margin-right: 0;
    flex-direction: row;
  }

  &__block {
    @include tablet {
      padding-right: 20px;
    }

    @include desktop-xl {
      padding-right: 38px;
    }
  }

  &__data {
    display: flex;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 7px;

    @include tablet {
      margin: 0 0 3px;
    }
  }

  &__title {
    position: relative;
    margin: 0 10px 0 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: map-get($font-weight, "black");
    color: map-get($colors, "red");

    @include tablet {
      font-size: 21px;
      line-height: 26px;
    }
  }

  &__title-delimiter {
    display: block;
    width: 28px;
    height: 2px;
    background: map-get($colors, "red");
  }

  &__data {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }

  &__option {
    font-family: $font-secondary;
    width: 50%;
    margin-bottom: 10px;

    @include tablet {
      width: unset;
      margin-bottom: unset;
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }

    .trading-symbol__option-value {
      padding-left: 5px;
      font-weight: map-get($font-weight, "bold");
    }
  }

  &__option-title {
    font-size: 11px;
    line-height: 13px;
    color: map-get($colors, "black");

    @include tablet {
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__option-value {
    font-size: 10px;
    line-height: 12px;
    margin-top: 4px;
    color: map-get($colors, "black");
    font-weight: map-get($font-weight, "bold");
    transition: 0.1s;

    &--up {
      color: #00ff66;
    }

    &--down {
      color: #ff0000;
    }

    @include tablet {
      margin-top: 0;
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__actions {
    border-top: 1px solid map-get($colors, "red");
    display: flex;
    justify-content: center;
    flex-direction: row;

    @include tablet {
      flex-direction: column;
      border-top: none;
      border-left: 1px solid map-get($colors, "red");
    }
  }

  &__sell,
  &__buy {
    font-family: $font-secondary;
    font-weight: map-get($font-weight, "black");
    font-size: 11px;
    line-height: 13px;
    padding: 12px 10px;
    border: 0;
    background: 0;
    text-transform: uppercase;
    cursor: pointer;

    @include tablet {
      display: block;
      padding: 8px 10px 10px;
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__buy {
    color: #00ff66;

    @include tablet {
      border-bottom: 1px solid map-get($colors, "red");
    }
  }

  &__sell {

    color: #ff0000;
  }
}